name: benchmark ci
on:
  push:
    branches: [ $default-branch ]
jobs:
  build:
    name: 'tests'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3.1.2
        with:
          python-version: 3.7.13 # optional, default is 3.x
      - shell: bash
        run: make setup.env