name: benchmark ci
on: [push]
jobs:
  build:
    name: 'build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3.1.2
        with:
          python-version: 3.7.12

      - run: make setup.env
      - run: pwd
      - run: ls -lah
      - run: . ./.venv/bin/activate
      - run: which pip
      - run: python -m pytest
